# smm_eu/__pycache__/*.pyc
# smm_eu/apps/main/migrations/__pycache__/*.pyc
.vscode/extensions.json
.vscode/launch.json
.ipynb_checkpoints/manage-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/untitled-checkpoint.py
.vscode/extensions.json
.vscode/settings.json
# smm_eu/__pycache__/*.pyc
# smm_eu/apps/main/pycache/*.pyc
.vscode/extensions.json
node_modules/*
._output/build/*
._output/extensions/*
_output/.ipynb_checkpoints/*
node_modules
_output/extensions/@jupyter-notebook/lab-extension/package.json
_output/extensions/@jupyter-notebook/lab-extension/yarn.lock
_output/extensions/@jupyter-notebook/lab-extension/schemas/@jupyter-notebook/lab-extension/interface-switcher.json
_output/extensions/@jupyter-notebook/lab-extension/schemas/@jupyter-notebook/lab-extension/launch-tree.json
_output/extensions/@jupyter-notebook/lab-extension/schemas/@jupyter-notebook/lab-extension/package.json.orig
_output/extensions/@jupyter-notebook/lab-extension/static/568.cf0b00aa9baf659e6dc7.js
_output/extensions/@jupyter-notebook/lab-extension/static/776.c7baadfaddfd4518c935.js
_output/extensions/@jupyter-notebook/lab-extension/static/922.0beff4620746e288bd5e.js
_output/extensions/@jupyter-notebook/lab-extension/static/928.79046a2eb17bde1af38c.js
_output/extensions/@jupyter-notebook/lab-extension/static/remoteEntry.58182cbb5c785b66277a.js
_output/extensions/@jupyter-notebook/lab-extension/static/style.js
_output/extensions/@jupyter-notebook/lab-extension/static/third-party-licenses.json
_output/extensions/@jupyterlite/javascript-kernel-extension/package.json
_output/extensions/@jupyterlite/javascript-kernel-extension/static/102.b17cfbc4c662a8c3822a.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/290.0914910e51d2bb7a7d5d.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/322.cc81b09001d657a190c5.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/441.4368412449ba90ea9225.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/568.4483277f2683e4ed765b.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/866.1ce3c77b50c9eb671961.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/remoteEntry.163c79433e7aa24fe93b.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/style.js
_output/extensions/@jupyterlite/javascript-kernel-extension/static/third-party-licenses.json
_output/extensions/@jupyterlite/pyodide-kernel-extension/install.json
_output/extensions/@jupyterlite/pyodide-kernel-extension/package.json
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/568.de1ff7157e4d8a8a5f6e.js
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/568.de1ff7157e4d8a8a5f6e.js.LICENSE.txt
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/568.de1ff7157e4d8a8a5f6e.js.map
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/652.edb4d0c9bd9f23511b54.js
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/652.edb4d0c9bd9f23511b54.js.map
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/870.6f0ceb259ba1e8f1aee9.js
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/870.6f0ceb259ba1e8f1aee9.js.LICENSE.txt
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/870.6f0ceb259ba1e8f1aee9.js.map
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/951.f415b4c2ffe9eaeaa16c.js
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/951.f415b4c2ffe9eaeaa16c.js.LICENSE.txt
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/951.f415b4c2ffe9eaeaa16c.js.map
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/remoteEntry.9eb7d88df6e74e509742.js
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/remoteEntry.9eb7d88df6e74e509742.js.map
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/style.js
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/third-party-licenses.json
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/pypi/all.json
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/pypi/ipykernel-6.9.2-py3-none-any.whl
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/pypi/piplite-0.1.3-py3-none-any.whl
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/pypi/pyodide_kernel-0.1.3-py3-none-any.whl
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/pypi/widgetsnbextension-3.6.6-py3-none-any.whl
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/pypi/widgetsnbextension-4.0.9-py3-none-any.whl
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/schema/kernel.v0.schema.json
_output/extensions/@jupyterlite/pyodide-kernel-extension/static/schema/piplite.v0.schema.json
_output/extensions/@jupyterlite/xeus-python-kernel/install.json
_output/extensions/@jupyterlite/xeus-python-kernel/package.json
_output/extensions/@jupyterlite/xeus-python-kernel/static/5c9063b436cedf0567480fe487ece0d1479ea9545f310cba93fa184ccbab290d.png
_output/extensions/@jupyterlite/xeus-python-kernel/static/20.86660aef69b5419d0e11.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/112.cb521cc5d56d6fdc8eb7.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/170.1922c23c2e205f41c70e.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/213.9a14124442b83113dcbf.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/213.f87671ed0b825bd10781.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/213.f87671ed0b825bd10781.js.LICENSE.txt
_output/extensions/@jupyterlite/xeus-python-kernel/static/747.db1b011ede666813d89f.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/870.4cd7d76b7a2d9ae4668e.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/870.d4e887a451fc3a0542ef.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/870.d4e887a451fc3a0542ef.js.LICENSE.txt
_output/extensions/@jupyterlite/xeus-python-kernel/static/asttokens-2.1.0-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/backcall-0.2.0-pyh9f0ad1d_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/backports-1.0-py_2.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/backports.functools_lru_cache-1.6.4-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/decorator-5.1.1-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/e32b5c282072d717887b60da73178fdd35a65dc3caeacba7a026e5a4255cc997.png
_output/extensions/@jupyterlite/xeus-python-kernel/static/empack_env_meta.json
_output/extensions/@jupyterlite/xeus-python-kernel/static/emscripten-abi-3.1.27-hb0f4dca_6.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/executing-1.2.0-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/ipython-8.14.0-py310h8bed8af_1.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/jedi-0.18.1-pyhd8ed1ab_2.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/matplotlib-inline-0.1.6-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/numpy-1.25.2-py310h6d2fff6_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/parso-0.8.3-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/pexpect-4.8.0-pyh1a96a4e_2.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/pickleshare-0.7.5-py_1003.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/pip-22.3.1-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/prompt-toolkit-3.0.32-pyha770c72_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/ptyprocess-0.7.0-pyhd3deb0d_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/pure_eval-0.2.2-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/pygments-2.13.0-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/pyparsing-3.0.9-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/python_data.data
_output/extensions/@jupyterlite/xeus-python-kernel/static/python_data.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/python-3.10.2-h_hash_28_cpython.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/remoteEntry.05c0309d9730051bf75d.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/remoteEntry.6c8acd9edadac87f834e.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/requests-wasm-polyfill-0.3.0-h8bed8af_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/setuptools-64.0.0-py310h8bed8af_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/six-1.16.0-pyh6c4a22f_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/stack_data-0.6.1-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/style.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/third-party-licenses.json
_output/extensions/@jupyterlite/xeus-python-kernel/static/traitlets-5.5.0-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/wcwidth-0.2.5-pyh9f0ad1d_2.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/wheel-0.38.4-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/xeus-lite-1.0.1-hf0acc6b_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/xeus-python-0.15.9-h4d17c68_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/xeus-python-shell-0.5.0-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/xeus-python-shell-raw-0.5.0-pyhd8ed1ab_0.tar.gz
_output/extensions/@jupyterlite/xeus-python-kernel/static/xpython_wasm.js
_output/extensions/@jupyterlite/xeus-python-kernel/static/xpython_wasm.wasm
_output/extensions/abirami_hide_code/build_log.json
_output/extensions/abirami_hide_code/install.json
_output/extensions/abirami_hide_code/package.json
_output/extensions/abirami_hide_code/static/lib_index_js.517fefc6dbbe2c7dbe14.js
_output/extensions/abirami_hide_code/static/lib_index_js.517fefc6dbbe2c7dbe14.js.map
_output/extensions/abirami_hide_code/static/remoteEntry.249f6054560637083c6f.js
_output/extensions/abirami_hide_code/static/remoteEntry.249f6054560637083c6f.js.map
_output/extensions/abirami_hide_code/static/style_index_js.a19fb70a273b26a19b21.js
_output/extensions/abirami_hide_code/static/style_index_js.a19fb70a273b26a19b21.js.map
_output/extensions/abirami_hide_code/static/style.js
_output/extensions/jl-logger/build_log.json
_output/extensions/jl-logger/install.json
_output/extensions/jl-logger/package.json
_output/extensions/jl-logger/static/lib_index_js.b8a68a378639f9fa2095.js
_output/extensions/jl-logger/static/lib_index_js.b8a68a378639f9fa2095.js.map
_output/extensions/jl-logger/static/remoteEntry.c300492a70d3ca57bfc5.js
_output/extensions/jl-logger/static/remoteEntry.c300492a70d3ca57bfc5.js.map
_output/extensions/jl-logger/static/style_index_js.1ddf700d425d0d0d5c82.js
_output/extensions/jl-logger/static/style_index_js.1ddf700d425d0d0d5c82.js.map
_output/extensions/jl-logger/static/style.js
_output/extensions/jl-logger/static/vendors-node_modules_css-loader_dist_runtime_api_js-node_modules_css-loader_dist_runtime_cssW-72eba1.675dddea69a670b77f2f.js
_output/extensions/jl-logger/static/vendors-node_modules_css-loader_dist_runtime_api_js-node_modules_css-loader_dist_runtime_cssW-72eba1.675dddea69a670b77f2f.js.map
_output/extensions/jupyterlab-remote-contents/install.json
_output/extensions/jupyterlab-remote-contents/package.json
_output/extensions/jupyterlab-remote-contents/static/747.a6cbd3eef3ab97de30d2.js
_output/extensions/jupyterlab-remote-contents/static/809.188526886475a418cfb2.js
_output/extensions/jupyterlab-remote-contents/static/remoteEntry.2b86a26b9586a62ca9ef.js
_output/extensions/jupyterlab-remote-contents/static/style.js
_output/extensions/jupyterlab-remote-contents/static/third-party-licenses.json
_output/extensions/jupyterlab_mol_visualizer/build_log.json
_output/extensions/jupyterlab_mol_visualizer/install.json
_output/extensions/jupyterlab_mol_visualizer/package.json
_output/extensions/jupyterlab_mol_visualizer/schemas/jupyterlab_mol_visualizer/package.json.orig
_output/extensions/jupyterlab_mol_visualizer/schemas/jupyterlab_mol_visualizer/plugin.json
_output/extensions/jupyterlab_mol_visualizer/static/lib_index_js-webpack_sharing_consume_default_react-dom.e0476e2b115a13b015a9.js
_output/extensions/jupyterlab_mol_visualizer/static/lib_index_js-webpack_sharing_consume_default_react-dom.e0476e2b115a13b015a9.js.map
_output/extensions/jupyterlab_mol_visualizer/static/remoteEntry.028d13ebe5c55f97b306.js
_output/extensions/jupyterlab_mol_visualizer/static/remoteEntry.028d13ebe5c55f97b306.js.map
_output/extensions/jupyterlab_mol_visualizer/static/style_index_js.619460a8365ae28431f7.js
_output/extensions/jupyterlab_mol_visualizer/static/style_index_js.619460a8365ae28431f7.js.map
_output/extensions/jupyterlab_mol_visualizer/static/style.js
_output/extensions/jupyterlab_mol_visualizer/static/vendors-node_modules_css-loader_dist_runtime_api_js-node_modules_css-loader_dist_runtime_cssW-72eba1.0671e6727a712a6035e3.js
_output/extensions/jupyterlab_mol_visualizer/static/vendors-node_modules_css-loader_dist_runtime_api_js-node_modules_css-loader_dist_runtime_cssW-72eba1.0671e6727a712a6035e3.js.map
_output/extensions/jupyterlab_mol_visualizer/static/vendors-node_modules_material-ui_core_esm_Box_Box_js-node_modules_material-ui_core_esm_CssBas-f68c3a.8dd48bd79467aded4718.js
_output/extensions/jupyterlab_mol_visualizer/static/vendors-node_modules_material-ui_core_esm_Box_Box_js-node_modules_material-ui_core_esm_CssBas-f68c3a.8dd48bd79467aded4718.js.map
_output/extensions/jupyterlab_remote_url/install.json
_output/extensions/jupyterlab_remote_url/package.json
_output/extensions/jupyterlab_remote_url/schemas/jupyterlab_remote_url/package.json.orig
_output/extensions/jupyterlab_remote_url/schemas/jupyterlab_remote_url/plugin.json
_output/extensions/jupyterlab_remote_url/static/747.2ca5f859b0b386f6563a.js
_output/extensions/jupyterlab_remote_url/static/763.5dc75c521b77226162ba.js
_output/extensions/jupyterlab_remote_url/static/remoteEntry.e1df4a7721d8fbe0f7da.js
_output/extensions/jupyterlab_remote_url/static/style.js
_output/extensions/jupyterlab_remote_url/static/third-party-licenses.json
_output/extensions/jupyterlab_vpython/build_log.json
_output/extensions/jupyterlab_vpython/install.json
_output/extensions/jupyterlab_vpython/package.json
_output/extensions/jupyterlab_vpython/static/1c88a762a4cafeafb9c5.png
_output/extensions/jupyterlab_vpython/static/1c502185df5195d2045e.png
_output/extensions/jupyterlab_vpython/static/3d3e274632c78c97b550.png
_output/extensions/jupyterlab_vpython/static/4d8a40a5c37ea1cb549b.png
_output/extensions/jupyterlab_vpython/static/6a35af3ff9d6f57c4323.png
_output/extensions/jupyterlab_vpython/static/9e867b8f308f2187cf25.png
_output/extensions/jupyterlab_vpython/static/31b69d43ded5ece6deee.png
_output/extensions/jupyterlab_vpython/static/44e1f3a18b99ddc15c8b.jpg
_output/extensions/jupyterlab_vpython/static/51aaab801da100c14074.png
_output/extensions/jupyterlab_vpython/static/2889b4f65c97dbec5131.png
_output/extensions/jupyterlab_vpython/static/003822ed55ad9191e071.png
_output/extensions/jupyterlab_vpython/static/5370afb860c636965872.png
_output/extensions/jupyterlab_vpython/static/948350c94c94def167cf.png
_output/extensions/jupyterlab_vpython/static/b2362b3c381496437c4e.png
_output/extensions/jupyterlab_vpython/static/fa3ac7cb805fc218a80c.png
_output/extensions/jupyterlab_vpython/static/febbc5fac0f9465a19e0.png
_output/extensions/jupyterlab_vpython/static/lib_index_js.3d6caac04ccc0a172ab2.js
_output/extensions/jupyterlab_vpython/static/lib_index_js.3d6caac04ccc0a172ab2.js.map
_output/extensions/jupyterlab_vpython/static/remoteEntry.87222131411e1ffc5418.js
_output/extensions/jupyterlab_vpython/static/remoteEntry.87222131411e1ffc5418.js.map
_output/extensions/jupyterlab_vpython/static/style_index_js.9b0c0153877ec1ccded3.js
_output/extensions/jupyterlab_vpython/static/style_index_js.9b0c0153877ec1ccded3.js.map
_output/extensions/jupyterlab_vpython/static/style.js
_output/extensions/jupyterlab_vpython/static/vendors-node_modules_plotly_js-dist-min_plotly_min_js.84fb4e808fde7701fa5d.js
_output/extensions/jupyterlab_vpython/static/vendors-node_modules_plotly_js-dist-min_plotly_min_js.84fb4e808fde7701fa5d.js.map
_output/extensions/jupyterlab_vpython/static/vendors-node_modules_script-loader_addScript_js-node_modules_css-loader_dist_runtime_api_js-n-e40101.547bebd6dfa3b2c1a3eb.js
_output/extensions/jupyterlab_vpython/static/vendors-node_modules_script-loader_addScript_js-node_modules_css-loader_dist_runtime_api_js-n-e40101.547bebd6dfa3b2c1a3eb.js.map
_output/extensions/jupyterlab_vpython/static/vpython_data/earth_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/favicon.ico
_output/extensions/jupyterlab_vpython/static/vpython_data/flower_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/granite_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/gravel_bumpmap.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/gravel_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/metal_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/NimbusRomNo9L-Med.otf
_output/extensions/jupyterlab_vpython/static/vpython_data/Roboto-Medium.ttf
_output/extensions/jupyterlab_vpython/static/vpython_data/rock_bumpmap.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/rock_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/rough_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/rug_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/stones_bumpmap.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/stones_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/stucco_bumpmap.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/stucco_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/wood_old_bumpmap.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/wood_old_texture.jpg
_output/extensions/jupyterlab_vpython/static/vpython_data/wood_texture.jpg
_output/extensions/meganote-python-editor-extension/install.json
_output/extensions/meganote-python-editor-extension/package.json
_output/extensions/meganote-python-editor-extension/static/260.d1e96beb067a53b6c0ca.js
_output/extensions/meganote-python-editor-extension/static/747.4d21d7beb498d859bfb0.js
_output/extensions/meganote-python-editor-extension/static/remoteEntry.ce2bacac78a9d2a26686.js
_output/extensions/meganote-python-editor-extension/static/style.js
_output/extensions/meganote-python-editor-extension/static/third-party-licenses.json
_output/service-worker-f7de73d.js
puck.log
.jupyterlite.doit.db
smm_eu/apps/main/__pycache__/__init__.cpython-312.pyc
smm_eu/apps/main/__pycache__/admin.cpython-312.pyc
smm_eu/apps/main/__pycache__/apps.cpython-312.pyc
smm_eu/apps/main/__pycache__/models.cpython-312.pyc
smm_eu/apps/main/__pycache__/urls.cpython-312.pyc
smm_eu/apps/main/__pycache__/views.cpython-312.pyc
smm_eu/__pycache__/__init__.cpython-312.pyc
smm_eu/__pycache__/settings.cpython-312.pyc
smm_eu/__pycache__/urls.cpython-312.pyc
smm_eu/__pycache__/wsgi.cpython-312.pyc
.vscode/extensions.json
.devcontainer/devcontainer.json
_output/build/service-worker-f7de73d.js
_output/build/*
