smm_eu/__pycache__/__init__.cpython-312.pyc
smm_eu/__pycache__/settings.cpython-312.pyc
smm_eu/__pycache__/urls.cpython-312.pyc
smm_eu/__pycache__/wsgi.cpython-312.pyc
smm_eu/apps/main/__pycache__/__init__.cpython-312.pyc
smm_eu/apps/main/__pycache__/admin.cpython-312.pyc
smm_eu/apps/main/__pycache__/apps.cpython-312.pyc
smm_eu/apps/main/__pycache__/models.cpython-312.pyc
smm_eu/apps/main/__pycache__/urls.cpython-312.pyc
smm_eu/apps/main/__pycache__/views.cpython-312.pyc
smm_eu/apps/main/migrations/__pycache__/__init__.cpython-312.pyc
smm_eu/apps/main/migrations/__pycache__/0001_initial.cpython-312.pyc
smm_eu/apps/main/migrations/__pycache__/0002_remove_order_link.cpython-312.pyc
smm_eu/apps/main/migrations/__pycache__/0003_order_link.cpython-312.pyc
smm_eu/apps/main/migrations/__pycache__/0004_alter_order_paid.cpython-312.pyc
smm_eu/apps/main/migrations/__pycache__/0005_alter_order_link.cpython-312.pyc
.vscode/extensions.json
.vscode/launch.json
