smm_eu/__pycache__/*.pyc
smm_eu/apps/main/migrations/__pycache__/*.pyc
.vscode/extensions.json
.vscode/launch.json
.ipynb_checkpoints/manage-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/untitled-checkpoint.py
.vscode/extensions.json
.vscode/settings.json
smm_eu/__pycache__/*.pyc
smm_eu/apps/main/pycache/*.pyc
.vscode/extensions.json
