{% extends 'base.html' %}

{% block title %}Live subscribers, likes, video views{% endblock %}
{% block content %}
    <section class="hero hero-2">
    <div align="center" class="hero__wrapper">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-lg-12 order-2 order-lg-1">
            <h1 class="main-heading color-black">Buy {{ order_by_id_fol.count_field }} Instagram Followers</h1>
            <p class="paragraph">On <span>SMM-EU<sup>TM</sup></span>, you can buy {{ order_by_id_fol.count_field }} <a
                href="https://www.smm-eu.com/buy-instagram-followers/">followers on Instagram</a> instantly with
              just three clicks.</p>
            <div class="d-flex justify-content-center">
              <div class="content text-center">
                <div class="ratings">
                  <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                  <div class="rating-text"> <span>4.9 ratings from 32 reviews</span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing" id="pricing">
    <div class="pricing__wrapper">
      <h2 align="center" class="package">{{ order_by_id_fol.count_field }} Instagram Followers Package</h2>
      <div class="container">
        <p align="center"><button class="btn btn-primary me-5">Sale Discount Applied <span
              class="badge badge-circle badge-warning ms-2">{{ order_by_id_fol.discount }}% OFF</span></button></p>
        <div class=" container-fluid pricingTable pt-90">
          <div class="container">
            <div class="row monthlyPriceList animated">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="inner holder">
                  <div class="hdng">
                    <p>{{ order_by_id_fol.count_field }} Followers</p>
                  </div>
                  <div class="price mt-5">
                    <p><b>${{ order_by_id_fol.new_price }}</b></p>
                  </div>
                  <div class="info">
                    <p>Quality Followers</p>
                    <p>Instant Delivery</p>
                    <p>Only Username Required</p>
                    <p>Privacy Protection</p>
                    <p>Customer Satisfaction</p>
                    <p>24/7 Support</p>
                    <p><b>{{ order_by_id_fol.discount }}% Discount</b></p>
                  </div>
                  <div class="btn">
                    <a href="{% url 'main:order' order_by_id_fol.id %}" class="readon">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p>
            <div class="col-md-12" style="padding: 40px 0 40px;text-align: center;">
              <img data-src="/static/images/30-days-money-back.png"
                src="/static/images/30-days-money-back.png" alt="money back guarantee">
              <a “rel="nofollow”" href="https://www.dmca.com/site-report/www.smm-eu.com" target="_blank"><img
                  style="margin: 0 35px;" alt="DMCA Protected"
                  src="/static/images/dmca_protected_sml_120m.png" alt="DMC Protected"></a>
              <img data-src="/static/images/norton-secure-veri-sign.png"
                style="margin: 0 35px;" src="/static/images/norton-secure-veri-sign.png"
                alt="SSL Secure - Norton Secure">
              <img data-src="/static/images/accepted-credit-card.png"
                style="max-width: 150px;position: relative;"
                src="/static/images/accepted-credit-card.png"
                alt="Payment gateway - Credit Card, PayPal and many more">
            </div>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="step">
    <div class="step__wrapper">
      <div class="container">
        <h2 class="section-heading color-black">How to place order?</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="step__box">
              <div class="content">
                <h3>STEP 1<span>Package</span></h3>
                <p class="paragraph dark">We have wide arrange of packages, select 1000 Instagram followers package from
                  above and click buy now button.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step__box">
              <div class="content">
                <h3>STEP 2<span>Details</span></h3>
                <p class="paragraph dark">Enter you Instagram username and email address and click next and select on
                  which posts you want likes.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step__box">
              <div class="content">
                <h3>StEP 3<span>Magic</span></h3>
                <p class="paragraph dark">Check order details, after successful checkout, just sit back, relax and
                  enjoy our magic.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing" id="pricing">
    <div class="pricing__wrapper">
      <div class="container">
        <h2 class="section-heading color-black">Get {{ order_by_id_fol.count_field }} Instagram followers- 100% Real and Instant</h2>
        <div class="row">
          <p></p>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-lg-12 order-2 order-lg-1">
            <div class="paragraph dark">
              <p class="dark_text"></p>
              <h3 class="color-black"></h3>
              <p class="dark_text"><img src="/static/images/buy-instagram-followers-quality-guaranteed.png" width="150"
                  height="150" class="rounded float-left" alt="Buy {{ order_by_id_fol.count_field }} Instagram followers with guaranteed quality">Do
                you want to build your career as an Instagram influencer? You need something that helps you get noticed.
                <a href="https://www.smm-eu.com/buy-instagram-followers/">Instagram's followers</a> are the first
                metric people see to measure your influence on this biggest platform. Getting followers on your account
                is the hardest to obtain, especially when you are new to this platform or have a handful of followers.
              </p>
              <p class="dark_text">When you get Instagram {{ order_by_id_fol.count_field }} followers, it will help you reach your true potential and
                stand out from the crowd. Increasing your following count using organic ways is a tedious and
                time-consuming process. That's where buy {{ order_by_id_fol.count_field }} Instagram followers services comes in that help you get
                the attention you deserve. At <a href="https://www.smm-eu.com/">SMM-EU</a>, we help
                aspiring Instagram influencers like you increase credibility on Instagram. Jump on the bandwagon to
                increase your chances of being featured on explore page and get the exposure you deserve.</p>
              <h2 class="section-heading-article">What do followers mean on Instagram?</h2>
              <p class="dark_text">Followers are the front and center on social media because it determines your
                influence on these platforms. <a
                  href="https://www.smm-eu.com/buy-5000-instagram-followers/">Instagram's followers</a> are the
                users that follow your account to see your posts on your feed and profile. They can also send your
                direct messages and view your stories. </p>
              <h2 class="section-heading-article">Is it possible to boost your influence instantly?</h2>
              <p class="dark_text">Instagram's creators use a variety of ways to grow their following count. However,
                getting your first <strong>{{ order_by_id_fol.count_field }} followers on Instagram</strong> is not as easy as it sounds. Reaching
                this milestone is a long and tedious process. When it comes to growing your followers organically, go
                viral overnight strategies may not work. You need to put your time and efforts into best practices to
                amass a huge following, including:</p>
              <ol>
                <li>Interact with your followers</li>
                <li>Cross-promote with other people</li>
                <li>Share stories, reels, and use live feature</li>
                <li>Post-quality content every time that meant to be saved and re-shared</li>
                <li>leave a thoughtful comment on others' posts</li>
                <li>Keep a consistent content calendar full of great ideas</li>
                <li>Do your Instagram SEO</li>
              </ol>
              <p class="dark_text">……And the list goes on</p>
              <p class="dark_text">Gaining your followers takes time, and it's hard to know exactly when you will reach
                <a href="https://www.smm-eu.com/buy-instagram-followers/">{{ order_by_id_fol.count_field }} followers</a> milestone. That's why
                people <a href="https://www.smm-eu.com/buy-{{ order_by_id_fol.count_field }}-instagram-followers/">buy {{ order_by_id_fol.count_field }} Instagram
                  followers</a> to boost their influence on Instagram instantly. You will not only gain followers
                without some hard work, but it will also help you get the exposure you need to beat your competitors.
              </p>
              <h2 class="section-heading-article">Why you should buy {{ order_by_id_fol.count_field }} Instagram followers</h2>
              <p class="dark_text">The world of social media platforms like Instagram is fraught with competition. If
                you are looking to boost your engagement, visibility, and brand awareness, it is safe to say that
                getting <strong>{{ order_by_id_fol.count_field }} followers</strong> can do wonders. More <a
                  href="https://www.smm-eu.com/buy-10000-instagram-followers/">Instagram followers</a> come with
                enhanced visibility that will help you build credibility with your target audience. Moreover, it
                represents an image of popularity, appeal, and trustworthiness. </p>
              <p class="dark_text"><img
                  src="/static/images/buy-1000-instagram-followers.png"
                  class="img-fluid img-thumbnail" alt="buy {{ order_by_id_fol.count_field }} Instagram followers"></p>
              <h2 class="section-heading-article">What do you get in return if you choose to buy {{ order_by_id_fol.count_field }} Instagram
                followers?</h2>
              <p class="dark_text">Here's how you can get closer to your goals when you buy {{ order_by_id_fol.count_field }} followers on Instagram:
              </p>
              <h3 class="color-black">Get a Quick Head starts: </h3>
              <p class="dark_text">It is hard to know where to begin, and starting your Instagram journey with a handful
                of followers is quite challenging. When you have single-digit followers on your account and all of them
                are your family and friends, you become anxious about your following counting. Getting <strong>{{ order_by_id_fol.count_field }}
                  Instagram followers</strong> from <a href="https://www.smm-eu.com/">SMM-EU</a> helps
                you get a quick head start so that you grow faster and earn your next followers in no time.</p>
              <h3 class="color-black">Improve social credibility</h3>
              <p class="dark_text">A strong fan-following on Instagram makes your account credentials. People only
                follow these accounts that have a huge following. When they see more than {{ order_by_id_fol.count_field }} followers, they follow
                you. </p>
              <h3 class="color-black">More Targeted Audience: </h3>
              <p class="dark_text">When you choose <a href="https://www.smm-eu.com/">SMM-EU</a>, you
                will only get a targeted audience. That means you will not only gain new followers faster but also get a
                targeted audience. Having a targeted audience on your account means higher engagement rates that push up
                your sales and generate revenue.</p>
              <h3 class="color-black">Boost Online Invisibility </h3>
              <p class="dark_text">With 2 billion active monthly users, there's no denying that Instagram is a great
                place to shout out and let your audience know that you also exist. However, getting noticed in a crowd
                of millions is not easy. <strong>Buying Instagram {{ order_by_id_fol.count_field }} followers</strong> help you boost online
                visibility and give reason to other people to follow you.</p>
              <h3 class="color-black">Create Brand Awareness</h3>
              <p class="dark_text">If you are a brand or business, people will only buy from you when they know you
                exist. Posting quality content doesn't work if you are unable to reach them. Buying {{ order_by_id_fol.count_field }} Instagram
                followers will help you get noticed and create brand awareness, especially during the initial days of
                launching your business. </p>
              <h3 class="color-black">Get High Revenues </h3>
              <p class="dark_text">As a business owner, you need to work and act smart to get profit. When you
                <strong>buy {{ order_by_id_fol.count_field }} followers on Instagram</strong>, it helps you grow organically. A substantial amount of
                followers increases your potential income. About 63 percent of people prefer online shopping. Getting
                paid followers is a faster way to increase your revenue. It helps you get more followers organically,
                and you become a top-ranked business or brand on Instagram. Getting sponsorship deals and huge sales
                generate higher revenues than ever. </p>
              <h2 class="section-heading-article">Why Choose Us?</h2>
              <p class="dark_text">Are you wondering why we are the best social media service provider to beat the
                competition on Instagram? Here's the answer:</p>
              <ol>
                <li><a href="https://www.smm-eu.com/">SMM-EU</a> is the one-stop destination for
                  professional social media services. We pride ourselves in providing the best Instagram services to
                  build authority and increase engagement. We ensure to grow your following count on Instagram through
                  genuine and legitimate services. </li>
                <li>We guarantee real Instagram followers from active and genuine users. Put trust in us, sit back and
                  watch your followers grow in a matter of minutes. </li>
                <li>We provide 24/7 support to our customers. You can reach out to us anytime via live chat or email.
                </li>
                <li>Ordering with SMM-EU is simple. You do not need to fill out cumbersome forms. Only follow
                  three simple steps, and you are ready to go!</li>
                <li>At SMM-EU, we have put a secure payment gateway in place. Our website is SSL protected. We
                  keep your personal information safe.</li>
                <li>We never request your account password. We only require your username to process the order.</li>
              </ol>
              <p class="dark_text">Get yourself noticed faster with more followers. buy {{ order_by_id_fol.count_field }} Instagram followers today!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="questions" id="faq">
    <div class="questions__wrapper">
      <div class="container">
        <h2 align="center" class="section-heading color-black">Frequently Asked Questions</h2>
        <p align="center" class="paragraph dark">We have served more than 47000+ clients. Customer trust us as best
          website which deliver real active Instagram likes. </p>
        <div class="row">
          <p></p>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-lg-12 order-2 order-lg-1">
            <div id="accordion">
              <div class="card" id="card-1">
                <div class="card-header" id="heading-1">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true"
                      aria-controls="collapse-1">
                      How fast I can get {{ order_by_id_fol.count_field }} Instagram followers?
                    </button>
                  </h5>
                </div>
                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Generally, in just few seconds as our system works first come first out base.
                      As soon as you place your order, our system start working on your order and will deliver your
                      <b>{{ order_by_id_fol.count_field }} Instagram followers</b> in just few seconds to few minutes.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-2">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-2"
                      aria-expanded="false" aria-controls="collapse-2">
                      Is www.smm-eu.com is legit site to buy IG followers?
                    </button>
                  </h5>
                </div>
                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Yes, its 100% legit and safe to <a
                        href="https://www.smm-eu.com/buy-instagram-followers/">buy followers</a> from
                      www.smm-eu.com. Our guarantee that your data, and account information or order details will
                      never be share with anyone.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-3">
                <div class="card-header" id="heading-3">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-3"
                      aria-expanded="false" aria-controls="collapse-3">
                      Will others know that I bought followers?
                    </button>
                  </h5>
                </div>
                <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">No, we provide all services with artificial intelligence-based system that work
                      entirely private on every order. We never save any of your private data and never share your order
                      details with anyone. </p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-4">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-4"
                      aria-expanded="false" aria-controls="collapse-4">
                      Can I buy more Instagram followers rather than {{ order_by_id_fol.count_field }}?
                    </button>
                  </h5>
                </div>
                <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Yes, you can <a
                        href="https://www.smm-eu.com/buy-instagram-followers/"><strong>buy Instagram
                          followers</strong></a> up to 50,000 followers. Alongside this, you can also check out our <a
                        href="https://www.smm-eu.com/buy-automatic-instagram-likes/"><strong>Instagram automatic
                          likes</strong></a> option where you will buy once for entire 30 days for all your upcoming
                      posts.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-5">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-5"
                      aria-expanded="false" aria-controls="collapse-5">
                      How can I get {{ order_by_id_fol.count_field }} followers on Instagram?
                    </button>
                  </h5>
                </div>
                <div id="collapse-5" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">There are many ways to get {{ order_by_id_fol.count_field }} followers on Instagram. Some of them are, by
                      running likes content, using proper hashtags, by tagging peoples, asking friends or by using
                      SMM-EU likes service.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-6">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-6"
                      aria-expanded="false" aria-controls="collapse-6">
                      Can you buy real Instagram likes?
                    </button>
                  </h5>
                </div>
                <div id="collapse-6" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Yes, anyone can <a href="https://www.smm-eu.com/buy-instagram-likes/">buy
                        real Instagram likes</a> with guaranteed results. You can even buy likes on Instagram from our
                      competitors but keep in mind that Instagram constantly purges fake likes and by spending money
                      without competitors, you will waste money.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-7">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-7"
                      aria-expanded="false" aria-controls="collapse-7">
                      How much does it cost to buy {{ order_by_id_fol.count_field }} Instagram followers?
                    </button>
                  </h5>
                </div>
                <div id="collapse-7" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">It just costs $11.99 with www.smm-eu.com with guaranteed delivery and
                      quality of Instagram real likes.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-8">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-8"
                      aria-expanded="false" aria-controls="collapse-8">
                      How can I buy 10,000 followers on Instagram?
                    </button>
                  </h5>
                </div>
                <div id="collapse-8" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">We at SMM-EU offers many different Instagram followers packages. You
                      can check our <a href="https://www.smm-eu.com/buy-10000-instagram-followers/">10k
                        followers</a> pacakge.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}