{% extends 'base.html' %}

{% block title %}Live subscribers, likes, video views{% endblock %}
{% block content %}
  <section class="hero hero-2">
    <div align="center" class="hero__wrapper">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-lg-12 order-2 order-lg-1">
            <h1 class="main-heading color-black">Buy 500 Likes On Instagram</h1>
            <p class="paragraph">On <span>ExpressFollowers<sup>TM</sup></span>, you can Buy 500 <a
                href="https://expressfollowers.com/buy-instagram-likes/">likes on Instagram</a> instantly with just
              three clicks.</p>
            <div class="d-flex justify-content-center">
              <div class="content text-center">
                <div class="ratings">
                  <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  </div>
                  <div class="rating-text"> <span>4.9 ratings from 23 reviews</span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="pricing" id="pricing">
<div class="pricing__wrapper">
<div class="container">
<div class=" container-fluid pricingTable pt-90">
<div class="container">
<div class="row monthlyPriceList animated">
<div class="col-md-1"></div>
<div class="col-md-6 d-none d-sm-block">
<div class="inner holder_product">
<p class="dark_text "><img src="/assets/images/buy-5000-instagram-likes-product-image.png" class="img-fluid img-thumbnail-product" alt="Buy 5000 instagram likes"></p>
</div>
</div>
<div class="col-md-4">
<div class="inner holder">
<div class="hdng-product">
<h2>5000 Instagram Likes</h2>
</div>
<div class="price mt-5">
<p><b>$33.99</b></p>
</div>
<div class="info">
<p>5000 Real Likes</p>
<p>Includes Video Views</p>
<p>Instant Delivery</p>
<p>Only Username Required</p>
<p>Privacy Protection</p>
<p>Customer Satisfaction</p>
<p><b>Split Option</b></p>
</div>
<div class="btn-product">
<a rel="nofollow" href="/web/enter-username?package=8" class="readon">Buy Now</a>
</div>
</div>
</div>
<div class="col-md-1"></div>
</div>
</div>
</div>
</div>
<div class="row">
<p>
</p><div class="col-md-12" style="padding: 40px 0 40px;text-align: center;">
<img data-src="https://expressfollowers.com/assets/images/30-days-money-back.png" src="https://expressfollowers.com/assets/images/30-days-money-back.png" alt="money back guarantee">
<a “rel="nofollow”" href="https://www.dmca.com/site-report/expressfollowers.com" target="_blank"><img style="margin: 0 35px;" alt="DMCA Protected" src="https://expressfollowers.com/assets/images/dmca_protected_sml_120m.png"></a>
<img data-src="https://expressfollowers.com/assets/images/norton-secure-veri-sign.png" style="margin: 0 35px;" src="https://expressfollowers.com/assets/images/norton-secure-veri-sign.png" alt="SSL Secure - Norton Secure">
<img data-src="https://expressfollowers.com/assets/images/accepted-credit-card.png" style="max-width: 150px;position: relative;" src="https://expressfollowers.com/assets/images/accepted-credit-card.png" alt="Payment gateway - Credit Card, PayPal and many more">
</div>
<p></p>
</div> </div>

</section>


  <section class="step">
    <div class="step__wrapper">
      <div class="container">
        <h2 class="section-heading color-black">How to buy 500 likes?</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="step__box">
              <div class="content">
                <h3>STEP 1<span>Package</span></h3>
                <p class="paragraph dark">We have wide arrage of packages, select 500 Instagram likes package from above
                  and click buy now button.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step__box">
              <div class="content">
                <h3>STEP 2<span>Details</span></h3>
                <p class="paragraph dark">Enter you Instagram username and email address and click next and select on
                  which posts you want likes.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step__box">
              <div class="content">
                <h3>StEP 3<span>Magic</span></h3>
                <p class="paragraph dark">Check order details, after successfull checkout, just sit back, relax and
                  enjoy our magic.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="pricing" id="pricing">
<div class="pricing__wrapper">
<div class="container">
<h2 class="section-heading color-black">Buy 5000 Likes For Instagram Instantly</h2>
<div class="row"><p></p></div>
<div class="row align-items-lg-center">
<div class="col-lg-12 order-2 order-lg-1">
<div class="paragraph dark">
<p class="dark_text"><img src="/assets/images/buy-5000-likes-for-instagram.png" class="img-fluid img-thumbnail" alt="5000 likes on instagram"></p>
</div>
</div>
</div>
</div>
</div>
</section>


  <section class="questions" id="faq">
    <div class="questions__wrapper">
      <div class="container">
        <h2 align="center" class="section-heading color-black">Frequently Asked Questions</h2>
        <p align="center" class="paragraph dark">We have served more than 47000+ clients. Customer trust us as best
          website which deliver real active Instagram likes. </p>
        <div class="row">
          <p></p>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-lg-12 order-2 order-lg-1">
            <div id="accordion">
              <div class="card" id="card-1">
                <div class="card-header" id="heading-1">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true"
                      aria-controls="collapse-1">
                      How fast I can get 500 Instagram likes?
                    </button>
                  </h5>
                </div>
                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Generally, in just few seconds as our system works first come first out base.
                      As soon as you place your order, our system start working on your order and will deliver your
                      <b>500 Instagram likes</b> in just few seconds to few minutes.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-2">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-2"
                      aria-expanded="false" aria-controls="collapse-2">
                      Is ExpressFollowers.com is legit site to buy IG likes?
                    </button>
                  </h5>
                </div>
                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Yes, its 100% legit and safe to buy likes from ExpressFollowers.com. Our
                      guarantee that your data, and account information or order details will never be share with
                      anyone.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-3">
                <div class="card-header" id="heading-3">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-3"
                      aria-expanded="false" aria-controls="collapse-3">
                      Will others know that I bought likes?
                    </button>
                  </h5>
                </div>
                <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">No, we provide all services with artificial intelligence-based system that work
                      entirely private on every order. We never save any of your private data and never share your order
                      details with anyone. </p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-4">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-4"
                      aria-expanded="false" aria-controls="collapse-4">
                      Can I buy more Instagram likes rather than 500?
                    </button>
                  </h5>
                </div>
                <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Yes, you can <a
                        href="https://expressfollowers.com/buy-instagram-likes/"><strong>buy Instagram
                          likes</strong></a> up to 50,000 Instagram likes even we provide split option to distribute
                      likes to all your previous posts. Alongside this, you can also checkout our <a
                        href="https://expressfollowers.com/buy-automatic-instagram-likes/"><strong>Instagram automatic
                          likes</strong></a> option where you will buy once for entire 30 days for all your upcoming
                      posts.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-5">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-5"
                      aria-expanded="false" aria-controls="collapse-5">
                      How can you get more likes on Instagram?
                    </button>
                  </h5>
                </div>
                <div id="collapse-5" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">There are many ways to get likes on Instagram. Some of them are, by running
                      likes content, using proper hashtags, by tagging peoples, asking friends or by using
                      ExpressFollowers <a href="https://expressfollowers.com/buy-instagram-likes/">IG likes</a> service.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-6">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-6"
                      aria-expanded="false" aria-controls="collapse-6">
                      Can you buy real Instagram likes?
                    </button>
                  </h5>
                </div>
                <div id="collapse-6" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Yes, anyone can <a href="https://expressfollowers.com/buy-instagram-likes/">buy
                        real Instagram likes</a> with guaranteed results. You can even buy likes on Instagram from our
                      competitors but keep in mind that Instagram constantly purges fake likes and by spending money
                      with out competitors, you will loose money.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-7">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-7"
                      aria-expanded="false" aria-controls="collapse-7">
                      How much does it cost to buy 500 Instagram Likes?
                    </button>
                  </h5>
                </div>
                <div id="collapse-7" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">It just costs $4.99 with ExpressFollowers.com with guaranteed delivery and
                      quality of Instagram real likes.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-8">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-8"
                      aria-expanded="false" aria-controls="collapse-8">
                      How can I get 40 likes on Instagram?
                    </button>
                  </h5>
                </div>
                <div id="collapse-8" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">We at ExpressFollowers offers many different Instagram likes packages. You can
                      check our <a href="https://expressfollowers.com/buy-40-instagram-likes/">40 Instagram likes</a>
                      pacakge.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="card-9">
                <div class="card-header" id="heading-4">
                  <h5 class="mb-0 hidden">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-9"
                      aria-expanded="false" aria-controls="collapse-9">
                      How to turn on likes on instagram?
                    </button>
                  </h5>
                </div>
                <div id="collapse-9" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="paragraph">Click on "Menu", go to "Setting", select "Privacy and security" then select
                      trun on or off.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}